{% extends 'base.html' %}

{% set iname = island.name if island.name else g.user['username'] + "'s Island" %}

{% block header %}
<h2>{% block title %}{{ g.user['username'] + "'s Islands" }}{% endblock %}</h2>
{% endblock %}

{% block content %}
    <article class="island">
      <header>
	<div>
	  <h3>{{ iname }}</h3>
	</div>
      </header>

      <form method="post">
	<div>
	  <label for="island_name">Island Name</label>
	  <input id="island_name" name="island_name" type="text" value="{{ iname }}">
	</div>
	<div>
	  <label for="fruit">Native Fruit</label>
	  <select id="fruit" name="fruit">
	    <option value="">--</option>
	    {% for ftype in frenum %}
	    <option value="{{ ftype.name }}"{{  'selected' if ftype.value == island.fruit else ''  }}>{{ ftype.value }}</option>
	    {% endfor %}
	  </select>
	</div>
	<p>Hemisphere:</p>
	<div>
	  <label for="north">North</label>
	  <input type="radio" id="north" name="hemisphere" value="north" {{ 'checked' if not island.southern_hemisphere else '' }}>
	  <label for="south">South</label>
	  <input type="radio" id="south" name="hemisphere" value="south" {{ 'checked' if island.southern_hemisphere else '' }}>
	</div>
	<input type="submit" value="That's right">
      </form>
    </article>
{% endblock %}
