{% extends 'base.html' %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block header %}
  <h2>{% block title %}Log In{% endblock %}</h2>
{% endblock %}

{% block content %}
{% include "security/_messages.html" %}
<form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
  {{ login_user_form.hidden_tag() }}
  {{ render_field_with_errors(login_user_form.email) }}
  {{ render_field_with_errors(login_user_form.password) }}
  {{ render_field_with_errors(login_user_form.remember) }}
  {{ render_field(login_user_form.submit) }}
</form>
{% endblock %}
