{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Update Prices{% endblock %} - Week of {{ week['Sunday'] }}</h2>
  <ul class="horizontal">
    <li><a href="{{ url_for('price.update', year=week.last_week.year, week_number=week.last_week.week_number) }}">Last Week</a></li>
    <li><a href="{{ url_for('price.update', year=week.next_week.year, week_number=week.next_week.week_number) }}">Next Week</a></li>
  </ul>
{% endblock %}

{% block content %}
  <form method="post">
    {% if ask_first_week %}
    <div>
      <input type="checkbox" id="firstweek" name="firstweek" {{ "checked" if is_first_week else "" }}>
      <label for="firstweek"><span title="I am the Resident Representative and this is my first week buying turnips from Daisy Mae on my own Island.">First Week</span></label>
    </div>
    {% endif %}
    {% for field in fields %}
    <div>
      <label for="{{ field['id'] }}">{{ field['label'] }}:</label>
      <input
	type="number"
	id="{{ field['id'] }}"
	name="prices[]"
	min="{{ field['min'] }}"
	max="{{ field['max'] }}"
	value="{{ field['tprice'].price }}"
	>
    </div>
    {% endfor %}
    <input type="submit" value="Save">
  </form>
  <hr>
{% endblock %}
