{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Prices{% endblock %} - Week of {{ data['week']['Sunday'] }}</h2>
  <ul class="horizontal">
    {% if g.user %}
    <li><a class="action" href="{{ data['update_url'] }}">Update</a></li>
    {% endif %}
  </ul>
{% endblock %}

{% block content %}
  <nav>
    <ul>
      <li>
	<a href="{{ url_for('price.view',
                            year=data['week'].last_week.year,
                            week_number=data['week'].last_week.week_number) }}" >
	  Last Week
	</a>
      </li>
      <li>
	<a href="{{ url_for('price.view',
                            year=data['week'].next_week.year,
                            week_number=data['week'].next_week.week_number) }}" >
	  Next Week
	</a>
      </li>
    </ul>
  </nav>

  {% for islandweek in data['islands'] %}
    {% set uname = islandweek['user']['username'] %}
    {% set timeline = islandweek['timeline']['by_date'] %}
    <article class="prices">
      <header>
	<div>
	  <h3>{{ uname }}</h3>
	</div>
      </header>
      <h4>Island: {{ islandweek['island'].name }}</h4>

      {% if islandweek['img'] %}
      <img src="/img/{{ islandweek['img'] }}"
	   alt="Graph illustrating turnip price probabilities for the week for {{ uname }}'s island {{ islandweek['island'].name }}"
	   class="align-left" >
      {% endif %}

      <table>
	<tr>
	  <td bgcolor="#a299d9"></td>
	  {% for day, date in data['week'].items() %}
	  <th scope="col">{{ day }} ({{ date.strftime('%m/%d') }})</th>
	  {% endfor %}
	</tr>
	<tr>
	  <th scope="row">AM</th>
	  {% for day, date in data['week'].items() %}
	  <td>{{ timeline.get(date, {}).get('AM').price }}</td>
	  {% endfor %}
	</tr>
	<tr>
	  <th scope="row">PM</th>
	  {% for day, date in data['week'].items() %}
	  <td>{{ timeline.get(date, {}).get('PM').price }}</td>
	  {% endfor %}
	</tr>
      </table>

      {% if not loop.last %}
      <hr>
      {% endif %}
  </article>
  {% endfor %}
{% endblock %}
