<!doctype html>
<html lang="en">
<title>{% block title %}{% endblock %} - Hyperturnips</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href="{{ url_for('index') }}">Hyperturnips</a></h1>
  <ul class="horizontal">
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for_security('logout') }}">Log Out</a>
	{% if request.path != url_for('island.island') %}
	<li><a href="{{ url_for('island.island') }}">Island</a></li>
	{% else %}
	<li><span class="current">Island</span></li>
	{% endif %}
    {% else %}
      <li><a href="{{ url_for_security('register') }}">Register</a>
      <li><a href="{{ url_for_security('login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="flash {{category}}">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

<footer>
  <ul class="horizontal">
    <li>
      Hyperturnips v{{ g.hyperturnips }} [<a href="https://gitlab.com/nanoNago/hyperturnips">gitlab</a>]
    </li>
    <li>
      Turnips v{{ g.turnips }} [<a href="https://gitlab.com/nanoNago/turnips">gitlab</a>]
    </li>
    <li>
      <span>PRs welcome (AfferoGPL3+) &mdash; Help me make this less ugly!</span>
    </li>
  </ul>
</footer>
