html {
  font-family: sans-serif;
  background: #ebf5df;
  padding: 1rem;
  background-image: url("/static/img/tornips_background.png");
}

body {
  max-width: 960px;
  margin: 0 auto;
  background: white;
  border: 4px solid #c7e3a5;
  border-radius: 15px;
}

h1, h2, h3 {
  font-family: serif;
  color: #4671A2;
  margin: 12px 0px 0px 0px;
  padding-bottom: 6px;
}

h4, h5, h6 {
  font-family: serif;
  color: #000;
  font-size: 1.15em;
  margin: 0 auto;
  font-weight: normal;
  padding: 2px;
}

h1 {
	padding-top: 7px;
}

h3 {
	text-decoration: solid underline;
}

a {
  color: #535fc2;
}

hr {
  border: none;
  border-top: 2px dashed #c7e3a5;
}

nav {
  background: #3475a2;
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 4px solid #214a66;
}

nav ul li a {
	color: #e6f0f7;
	padding: 4px;
	font-weight: bold;
}

footer {
  background: #2f3884;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  border-radius: 0px 0px 10px 10px;
  border-top: 3px solid #22285e;
}

footer ul {
	color: #fff;
}

footer ul li a {
	color: #d5d1ee;
}

nav h1 {
  flex: auto;
  margin: 0;
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  color: #fff;
}

ul.horizontal {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.horizontal li {
    display: block;
    padding: 0.5rem;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 3px dashed #e0edcc;
  display: flex;
  align-items: flex-end;
  padding: 15px 0px 0px 0px;
}

.content > header h2 {
  flex: auto;
  margin: 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #e9e9e9;
  border: 1px solid #c0abe1;
  font-weight: bold;
}

.success {
    border: 2px solid #47bb7b;
}

.error {
    border: 2px solid #bb474d;
}

.prices > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.prices > header > div:first-of-type {
  flex: auto;
}

.prices > header h3 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
}

table {
	width: 850px;
	padding-top: 8px;
	padding-bottom: 10px;
}

th, td {
	padding: 7px;
	border: 1px solid #C2A7E1;
}

th {
	border: 1px solid #C2A7E1;
	background-color: #EBE2F5;
	text-align: left;
}

td {
	text-align: center;
}

td.corner {
	background-color: #000;
}

img.align-left {
	margin-top: 15px;
}
